body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
   
}
.adminContainer{
  background-color: rgb(168, 169, 170);
}
.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    border:1px solid black;
    box-shadow: 3px 5px #888888;
   
   
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}
.modal-content-admin{
    border:1px solid black;
    box-shadow: 3px 5px #888888;
   
   
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}
.modal-content-admin-calendar{
    border:1px solid black;
    box-shadow: 3px 5px #888888;
    height: 70%;
   width: 20%;
    position: absolute;
    top: 40%;
    left: 61%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}
.mdl{background: #e2e1e1;}
.test{
    height: 70%;
  overflow-y: scroll;


}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    border-radius: 30px;
}

.control-res{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 7px;
    border-radius: 30px;
} 

.custom-tile-selected {
    background-color: rgb(245, 0, 0);
  }
  
  .react-calendar__tile--disabled {
    background-color: #773a3a; /* Gri arkaplan rengi */
  }
  

