
.ust {

  margin: 0px;
  padding: 0px;
  height: 0;
  width: 30px;
  border-bottom: 30px solid rgb(83, 102, 122);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.alt {
  transform: rotate(180deg);
  height: 0;
  width: 30px;
  border-bottom: 30px solid rgb(83, 102, 122);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.rectangle {
  border: 1px black;
  position: absolute;
  height: 5px;
  background-color: rgb(83, 102, 122);
}

.rectangle1 {
  width: 30px;

  left: 25%;

}

.rectangle2 {
  width: 34px;

  transform: rotate(-62deg);
  top: 11px;
  left: -11px;
}

.rectangle3 {
  width: 34px;

  transform: rotate(62deg);
  top: 11px;
  left: 37px;
}

.desk {
  position: relative;
  width: 10px;
  border-bottom: 10px solid rgb(87, 230, 64);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.desk:hover{
  width: 12px;
  border-bottom: 12px solid rgb(166, 231, 156);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.desk1 {
  top: 5px;
  left: 0px;

}

.desk2 {
  transform: rotate(63deg);

  top: 15px;
  left: 14px;

}

.desk3 {
  transform: rotate(-63deg);

  top: 5px;
  left: -15px;

}


.ustrect {
  background-color: rgb(83, 102, 122);
  margin: 0;
  padding: 0;
  height: 25px;
  width: 50px;
  border-bottom: 1px solid black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

}

.container {
  display: inline-block;
  transform: rotate(0deg);

}
.pc{
  position: absolute;
  left: 34%;
  height: 10px;
  width: 15px;
  background-color: red;
  border-radius: 3px;
}
.pc:hover{
  height: 13px;
  width: 18px;
  background-color: rgb(255, 69, 22);

}
.pc1 {
  top: 3px;
}

.pc2 {
  bottom: 3px;
}

.altrect {
  background-color: rgb(83, 102, 122);
  margin: 0;
  padding: 0;
  height: 25px;
  width: 50px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

